<div class="container">
<!-- Search input -->
    <div class="row">
        <form id="myForm" class="form-inline form-search col-sm-6 padding-25" name="myForm">
            <div class="form-group">
                <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium form-control"/>
                <!--ng-keydown="doSearch()" if you want to do search when button was pressed-->
                <button class="btn btn-primary" ng-click="doSearch()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
<!-- End Search input -->
<!-- Cart -->
        <div class="col-sm-6 padding-25">
            <div ng-controller="myModalCtrl">
                <modal handler="modal" modal-body="cartItems"></modal>
                <a ng-click="showModal('#pop')" class="btn btn-info pull-right" data-toggle="modal">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>{{itemInCart()}}</span>
                </a>
            </div>
        </div>
<!-- End Cart -->
<!-- Thumbnails -->
    <div class="row">
        <div ng-repeat="item in bookResults" class="thumbnail-container col-sm-6 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{item.volumeInfo.imageLinks.smallThumbnail}}" alt="{{item.volumeInfo.title}}">
                <div class="caption">
                    <h3>
                        <a class="title-link" href="details#{{item.id}}">{{item.volumeInfo.title}}</a>
                    </h3>
                    <p>By: {{(item.volumeInfo.authors.length > 1 ? item.volumeInfo.authors.join(", ") : item.volumeInfo.authors[0])}}
                    </p>
                    <p>Published: {{item.volumeInfo.publisher}}</p>
                    <p>List price:
                       {{ (item.saleInfo.listPrice.amount)
                        ? item.saleInfo.listPrice.amount +' '+ item.saleInfo.listPrice.currencyCode
                        : 'Not for sale'}}
                    </p>
                    <p>
                        <a class="btn btn-primary"
                                role="button"
                                href="details#{{item.id}}">Details
                        </a>
                        <button ng-show="item.saleInfo.listPrice.amount" class="btn btn-info"
                                ng-controller="cartCtrl"
                                ng-click="setCart(item)">Add to cart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- End Thumbnails -->
</div>
</div>