<!DOCTYPE html>
<html ng-app="bookApp">

<head>
    <meta charset="utf-8"/>
    <title>BookStore LogMeIn</title>
    <base href="/logmein-test/details">
    <!--CSS-->
    <link data-require="bootstrap-css@*" data-semver="3.0.3" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--JS-->
    <script src="http://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers.js"></script>
    <script src="../services.js"></script>
</head>

<body>
<div class="container">
    <div class="row">

        <div class="row">
            <div class="col-sm-12"  ng-controller="BookDetailsCtrl">
                <div class="thumbnail">
                    <img class="col-sm-6" ng-src="{{bookOneItem.volumeInfo.imageLinks.small}}" alt="{{bookOneItem.title}}">
                    <div class="caption col-sm-6">
                        <div ng-controller="myModalCtrl">
                            <modal handler="modal" modal-body="cartItems" modal-header="header"></modal>
                            <a ng-click="showModal('#pop')" class="btn btn-info pull-right" data-toggle="modal">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h3>{{bookOneItem.volumeInfo.title}}</h3>
                        <p>Authors: {{bookOneItem.volumeInfo.authors[0]}}</p>
                        <p>Published: {{bookOneItem.volumeInfo.publishedDate}}</p>
                        <p>{{bookOneItem.volumeInfo.description}}</p>
                        <p>Printed page: {{bookOneItem.volumeInfo.printedPageCount}}</p>
                        <p>Preview: <a href="{{bookOneItem.volumeInfo.previewLink}}">{{bookOneItem.volumeInfo.title}} preview</a></p>
                        <p>Publisher: {{bookOneItem.volumeInfo.publisher}}</p>
                        <p>List price:
                            {{ (bookOneItem.saleInfo.listPrice.amount)
                            ? bookOneItem.saleInfo.listPrice.amount +' '+ bookOneItem.saleInfo.listPrice.currencyCode
                            : 'Not for sale'}}
                        </p>
                        <button ng-show="bookOneItem.saleInfo.listPrice.amount" class="btn btn-info"
                                   ng-controller="cartCtrl"
                                   ng-click="setCart(item)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

