<div class="container">
    <div class="row">

        <div class="col-sm-12" ng-controller="BookDetailsCtrl">
            <div class="thumbnail auto-height">
                <img class="col-sm-6" ng-src="{{bookOneItem.volumeInfo.imageLinks.small}}" alt="{{bookOneItem.title}}">

                <div class="caption col-sm-6">
                    <!--Cart button / modal -->
                    <div ng-controller="myModalCtrl">
                        <modal handler="modal" modal-body="cartItems" modal-header="header"></modal>
                        <a ng-click="showModal('#pop')" class="btn btn-info pull-right" data-toggle="modal">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- End Cart button / modal -->
                    <!-- Book's details -->
                    <h3>{{bookOneItem.volumeInfo.title}}</h3>

                    <p>Authors: {{bookOneItem.volumeInfo.authors[0]}}</p>

                    <p>Published: {{bookOneItem.volumeInfo.publishedDate}}</p>

                    <p>{{bookOneItem.volumeInfo.description | htmlToPlaintext}}</p>

                    <p>Printed page: {{bookOneItem.volumeInfo.printedPageCount}}</p>

                    <p>Preview: <a href="{{bookOneItem.volumeInfo.previewLink}}">{{bookOneItem.volumeInfo.title}}
                        preview</a></p>

                    <p>Publisher: {{bookOneItem.volumeInfo.publisher}}</p>

                    <p>List price:
                        {{ (bookOneItem.saleInfo.listPrice.amount)
                        ? bookOneItem.saleInfo.listPrice.amount +' '+ bookOneItem.saleInfo.listPrice.currencyCode
                        : 'Not for sale'}}
                    </p>
                    <!-- End Book's details -->
                    <button ng-show="bookOneItem.saleInfo.listPrice.amount" class="btn btn-info"
                            ng-controller="cartCtrl"
                            ng-click="setCart(item)">Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


